.StyledButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #63d471;
  color: white;
  font-weight: 500;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 6px;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.StyledButton:active {
  opacity: 80%;
}
