@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap");

* {
  outline-color: #1d7995;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.Background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #dbfeb8;
  opacity: 1;
  background-image: linear-gradient(135deg, #d0fea3 25%, transparent 25%),
    linear-gradient(225deg, #d0fea3 25%, transparent 25%),
    linear-gradient(45deg, #d0fea3 25%, transparent 25%),
    linear-gradient(315deg, #d0fea3 25%, #dbfeb8 25%);
  background-position: 15px 0, 15px 0, 0 0, 0 0;
  background-size: 30px 30px;
  background-repeat: repeat;
}

.PokemonContainer {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  row-gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 100%;
}
.Logo {
  width: 280px;
  height: 80px;
}
.SearchTab {
  display: flex;
  justify-content: space-between;
  width: 938px;
}
