@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap");

* {
  outline-color: #1d7995;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.Background {
  background-color: #dbfeb8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.Border {
  background-color: #63d471;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #63a46c;
  margin: 5px;
  width: 40vw;
  height: 80vh;
}
.PokemonContainer {
  background-color: #e8ded1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  border: 1px solid #a0816c;
  min-width: 100%;
  min-height: 100%;
}
.Logo {
  width: 280px;
  height: 80px;
}
.SearchTab {
  display: flex;
  min-width: 40vw;
  justify-content: space-between;
}
