.Tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}
.TabInput {
  background-color: white;
  border: none;
  border-radius: 4px;
  height: 1.4em;
  width: 11rem;
  font-size: 1.2em;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
